@charset "UTF-8";

video#video1{
    display: block;
    position: relative;
    left: auto;
    top: auto;
    width: 470px;
    padding: 15px;
    box-sizing: border-box;
}

video#video2{
    display: block;
    position: relative;
    left: auto;
    top: auto;
    width: 350px;
    padding: 10px;
    box-sizing: border-box;
}